<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCL copier</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="img/x-icon">


    <!-- Links to stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet"">
    <link href="https://cdn.jsdelivr.net/npm/glightbox@3.0.6/dist/css/glightbox.min.css" rel="stylesheet">
    <link href="https://unpkg.com/swiper@8/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

</head>
<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a style="text-decoration: none;" href="{{ url_for('home') }}#hero" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1>JCL Copiers</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('home') }}#hero" class="active">Home</a></li>
          <li><a href="{{ url_for('home') }}#about">About</a></li>
          <li><a href="{{ url_for('home') }}#pricing">Product</a></li>
          <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img class="thebigbg" src="{{ url_for('static', filename='images/hero-bg.jpg') }}" alt="" data-aos="fade-in" data-aos-delay="400">

      <div class="container">
        <div class="row flex-wrap">
          <div class="container col-lg">
            <h2 data-aos="fade-up" data-aos-delay="600">Welcome to JCL COPIERS</h2>
            <p data-aos="fade-up" data-aos-delay="600">We take pride in providing top-tier paper products designed to meet all your needs.</p>
          </div>
          <div class="container col-lg">
            <img style="width: 350px; height: 520px;" src="{{ url_for('static', filename='images/ream2.png') }}" alt="" data-aos="fade-down" data-aos-delay="500">
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->
  

    <section id="clients" class="clients">

        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award1.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->
  
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award2.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->
  
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award3.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award4.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award5.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->
          </div>
  
        </div>
  
    </section><!-- End Clients Section -->
      <section id="about" class="about">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row align-items-xl-center gy-5">
  
            <div class="col-xl-5 content">
              <h3>About Us</h3>
              <h2>Professional Print Paper</h2>
              <p>At JCL COPIERS, we're purveyors of quality and champions of sustainability. Our journey began with a commitment to deliver paper that not only meets but exceeds your expectations.

                Every sheet tells a story of precision and care. We believe in crafting a product that reflects our dedication to environmental responsibility without compromising on quality.</p>
              <!--a href="products.html" class="read-more" style="text-decoration: none;"><span>Read More</span><i class="bi bi-arrow-right"></i></a-->
            </div>
  
            <div class="col-xl-7">
              <div class="row gy-4 icon-boxes">
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <i class="bi bi-buildings"></i>
                    <h3>Innovation</h3>
                    <p>Whether for your home, office, or creative projects, our paper is designed to deliver exceptional performance. We strive to continually evolve, providing you with cutting-edge solutions.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="bi bi-flower1"></i>
                    <h3>Environmental</h3>
                    <p> Our paper is sourced from responsibly managed forests, promoting the preservation of our planet's natural resources. You're making a choice for a greener future.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-box">
                    <i class="bi bi-command"></i>
                    <h3>Quality</h3>
                    <p> We take pride in our unwavering commitment to quality. Each sheet of paper is a testament to our dedication to providing you with a superior paper product.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <i class="bi bi-balloon-heart"></i>
                    <h3>Customer-Centric</h3>
                    <p>We believe in building lasting relationships with our customers by prioritizing your needs.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
              </div>
            </div>
  
          </div>
        </div>
  
      </section><!-- End About Section -->

      <!-- Pricing Section - Home Page -->
      <section id="pricing" class="pricing" style="background-color: #fff;">
  
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Product</h2>
          <p style="color: #fff;">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
  
          <div class="row continer g-4">
  
            <div class=" container-fluid align-items-center text-center col-lg-4">
              <div class="pricing-item">
                <h3>Multi-Purpose A4 Printing Paper</h3>
                <img src="{{ url_for('static', filename='images/ream2.png') }}">
                <h4>80<span> gsm</span></h4>
                <ul>
                  <li><span>.  High opacity</span></li>
                  <li><span>.  High whiteness </span></li>
                  <li><span>.  Thick for duplex priniting</span></li>
                </ul>
                <div class="text-center"><a href="{{ url_for('product') }}" class="read-more buy-btn" style="text-decoration: none;"><span>View Product</span></a></div>
              </div>
            </div>
          </div>
  
        </div>
  
      </section><!-- End Pricing Section -->
  
      <!-- Faq Section - Home Page -->
      <section id="faq" class="faq">
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="content px-xl-5">
                <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                <p>We understand that you may have questions about our 80gsm ream paper and our services. Below, we've compiled answers to the most common inquiries to provide you with a quick and comprehensive resource.
                  <br>
                  If you can't find the information you're looking for, feel free to reach out to our dedicated customer support team through our contacts or call us at +245123456789. We're here to assist you on your journey to discovering the excellence of our paper products.</p>
              </div>
            </div>
  
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
  
              <div class="faq-container">
                <div class="faq-item faq-active">
                  <h3><span class="num">1.</span> <span>What makes your 80gsm ream paper stand out from others on the market?</span></h3>
                  <div class="faq-content">
                    <p>Our 80gsm ream paper stands out due to its exceptional quality and commitment to sustainability. We prioritize precision in manufacturing, ensuring a smooth texture and excellent print quality. Moreover, our paper is sourced from responsibly managed forests, reflecting our dedication to environmental responsibility.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">2.</span> <span> Can I use your ream paper for both home and office printing?</span></h3>
                  <div class="faq-content">
                    <p>Certainly! Our 80gsm ream paper is designed for versatility. Whether you need it for everyday printing at home, professional documents at the office, or creative projects, our paper delivers consistent quality. It's a reliable choice for a wide range of printing needs.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">3.</span> <span>Do you offer bulk or customized orders for businesses?</span></h3>
                  <div class="faq-content">
                    <p>Yes, we understand the unique requirements of businesses. We offer bulk orders. Get in touch with our customer support team, and we'll work with you to fulfill your specific needs, ensuring a seamless ordering process.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">4.</span> <span>How can I contact customer support for inquiries or assistance?</span></h3>
                  <div class="faq-content">
                    <p>We're here to assist you. You can reach our dedicated customer support team through our contacts, where you can fill out a form with your inquiry. Alternatively, you can call us directly at +254123456789. We strive to provide prompt and helpful assistance to ensure your experience with us is exceptional.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
              </div>
  
            </div>
          </div>
  
        </div>
  
      </section><!-- End Faq Section -->
  
      <!-- Call-to-action Section - Home Page -->
      <section id="call-to-action" class="call-to-action">
  
        <img src="{{ url_for('static', filename='images/cta-bg.jpg') }}" alt="">
  
        <div class="container">
          <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
              <div class="text-center">
                <h3>Elevate Your Printing Experience with JCL COPIERS</h3>
                <p> At JCL COPIERS, we understand the integral role paper plays in your creative process. Choosing our ream paper means choosing excellence, reliability, and sustainability. Here's why you should make us your go-to paper supplier:</p>
                <a class="cta-btn" href="{{ url_for('product') }}">Browse Our Product</a>
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- End Call-to-action Section -->

      <!-- Contact Section - Home Page -->
      <section id="contact" class="contact">
  
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact & Location</h2>
          <p style="color: #043c4c;">Get in touch with us</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
  
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Addresses</h3>
                    <p>NAIROBI</p>
                    <p>MOMBASA ROAD,</p>
                    <p>LANGATA DISTRICT</p>
                    <p>P.O BOX 1017 NYAYO STADIUM</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <!-- <p>+1 5589 55488 55</p>
                    <p>+1 6678 254445 41</p> -->
                  </div>
                </div><!-- End Info Item -->
  
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>jclcopiersltd@gmail.com</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="500">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Saturday</p>
                    <p>9:00AM - 05:00PM</p>
                    <p>Sunday</p>
                    <p>9:00AM - 12:00PM</p>
                  </div>
                </div><!-- End Info Item -->
  
              </div>
  
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
  
      </section><!-- End Contact Section -->
  
  </main>
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
  
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="{{ url_for('home') }}" class="logo d-flex align-items-center" style="text-decoration: none;">
              <span style="color: #fff;">JCL COPIERS</span>
            </a>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{{ url_for('home') }}#hero">Home</a></li>
              <li><a href="{{ url_for('home') }}#about">About us</a></li>
              <li><a href="{{ url_for('home') }}#pricing">Product</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><a href="{{ url_for('product') }}">The 80gsm</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p>United States</p>
            <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
  
        </div>
      </div>
  
      <div class="container copyright text-center mt-4">
        <p>&copy; <span>Copyright</span> <strong class="px-1">jcl copiers</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          Proudly crafted by <a href="https://www.instagram.com/i_njili/">injili & france</a>
        </div>
      </div>
  
    </footer><!-- End Footer -->
  
    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Preloader -->
    <div id="preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glightbox@3.0.6/dist/js/glightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="https://unpkg.com/php-email-form@3.2.1/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
</body>
</html>