<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCL copier</title>

    <!-- Links to stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='images/') }}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet"">
    <link href="https://cdn.jsdelivr.net/npm/glightbox@3.0.6/dist/css/glightbox.min.css" rel="stylesheet">
    <link href="https://unpkg.com/swiper@8/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

</head>
<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a style="text-decoration: none;" href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1>JCL Copiers</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('home') }}#hero" class="active">Home</a></li>
          <li><a href="{{ url_for('home') }}#about">About</a></li>
          <li><a href="{{ url_for('home') }}#pricing">Products</a></li>
          <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="{{ url_for('static', filename='images/hero-bg.jpg') }}" alt="" data-aos="fade-in" data-aos-delay="400">

      <div class="container">
        <div class="row flex-wrap">
          <div class="container col-lg">
            <h2 data-aos="fade-up" data-aos-delay="600">Welcome to Our Website</h2>
            <p data-aos="fade-up" data-aos-delay="600">We are team of talented designers making websites with Bootstrap</p>
          </div>
          <div class="container col-lg">
            <img style="width: 350px; height: 500px;" src="{{ url_for('static', filename='images/ream2.png') }}" alt="" data-aos="fade-down" data-aos-delay="500">
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->
  

    <section id="clients" class="clients">

        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award1.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->
  
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award2.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->
  
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award3.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{{ url_for('static', filename='images/award4.png') }}" class="img-fluid" alt="">
            </div><!-- End Client Item -->
          </div>
  
        </div>
  
    </section><!-- End Clients Section -->
      <section id="about" class="about">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row align-items-xl-center gy-5">
  
            <div class="col-xl-5 content">
              <h3>About Us</h3>
              <h2>Professional Print Paper</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <a href="products.html" class="read-more" style="text-decoration: none;"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
  
            <div class="col-xl-7">
              <div class="row gy-4 icon-boxes">
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <i class="bi bi-buildings"></i>
                    <h3>Eius provident</h3>
                    <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="bi bi-clipboard-pulse"></i>
                    <h3>Rerum aperiam</h3>
                    <p>Autem saepe animi et aut aspernatur culpa facere. Rerum saepe rerum voluptates quia</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-box">
                    <i class="bi bi-command"></i>
                    <h3>Veniam omnis</h3>
                    <p>Omnis perferendis molestias culpa sed. Recusandae quas possimus. Quod consequatur corrupti</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <i class="bi bi-graph-up-arrow"></i>
                    <h3>Delares sapiente</h3>
                    <p>Sint et dolor voluptas minus possimus nostrum. Reiciendis commodi eligendi omnis quideme lorenda</p>
                  </div>
                </div> <!-- End Icon Box -->
  
              </div>
            </div>
  
          </div>
        </div>
  
      </section><!-- End About Section -->

      <!-- Pricing Section - Home Page -->
      <section id="pricing" class="pricing" style="background-color: #fff;">
  
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Products</h2>
          <p style="color: #fff;">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
  
          <div class="row continer g-4">
  
            <div class=" container-fluid align-items-center col-lg-4">
              <div class="pricing-item">
                <h3>Paper type A</h3>
                <img src="{{ url_for('static', filename='images/ream2.png') }}">
                <h4>80<span> gsm</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn" style="text-decoration: none;">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="container-fluid col-lg-4">
              <div class="pricing-item">
                <h3>Paper Type B</h3>
                <img src="{{ url_for('static', filename='images/ream2.png') }}">
                <h4>70<span> gsm</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn" style="text-decoration: none;">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="container-fluid col-lg-4">
              <div class="pricing-item">
                <h3>Paper Type C</h3>
                <img src="{{ url_for('static', filename='images/ream2.png') }}">
                <h4>65<span> gsm</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn" style="text-decoration: none;">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
          </div>
  
        </div>
  
      </section><!-- End Pricing Section -->
  
      <!-- Faq Section - Home Page -->
      <section id="faq" class="faq">
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="content px-xl-5">
                <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                </p>
              </div>
            </div>
  
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
  
              <div class="faq-container">
                <div class="faq-item faq-active">
                  <h3><span class="num">1.</span> <span>Non consectetur a erat nam at lectus urna duis?</span></h3>
                  <div class="faq-content">
                    <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">2.</span> <span>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</span></h3>
                  <div class="faq-content">
                    <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">3.</span> <span>Dolor sit amet consectetur adipiscing elit pellentesque?</span></h3>
                  <div class="faq-content">
                    <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">4.</span> <span>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</span></h3>
                  <div class="faq-content">
                    <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">5.</span> <span>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</span></h3>
                  <div class="faq-content">
                    <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
              </div>
  
            </div>
          </div>
  
        </div>
  
      </section><!-- End Faq Section -->
  
      <!-- Call-to-action Section - Home Page -->
      <section id="call-to-action" class="call-to-action">
  
        <img src="{{ url_for('static', filename='images/cta-bg.jpg') }}" alt="">
  
        <div class="container">
          <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
              <div class="text-center">
                <h3>Make an order</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="cta-btn" href="#">Make an order</a>
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- End Call-to-action Section -->

      <!-- Contact Section - Home Page -->
      <section id="contact" class="contact">
  
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p style="color: #043c4c;">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
  
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Addresses</h3>
                    <p>A108 Adam Street</p>
                    <p>New York, NY 535022</p>
                    <p>A108 Eve Street</p>
                    <p>Brooklyn, BR 535022</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55</p>
                    <p>+1 6678 254445 41</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com</p>
                    <p>contact@example.com</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="500">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday</p>
                    <p>9:00AM - 05:00PM</p>
                  </div>
                </div><!-- End Info Item -->
  
              </div>
  
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
  
      </section><!-- End Contact Section -->
  
  </main>
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
  
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="{{ url_for('home') }}" class="logo d-flex align-items-center" style="text-decoration: none;">
              <span style="color: #fff;">jcl copiers</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{{ url_for('home') }}#hero">Home</a></li>
              <li><a href="{{ url_for('home') }}#about">About us</a></li>
              <li><a href="{{ url_for('home') }}#pricing">Product</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><a href="{{ url_for('product') }}">The 80gsm</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p>United States</p>
            <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
  
        </div>
      </div>
  
      <div class="container copyright text-center mt-4">
        <p>&copy; <span>Copyright</span> <strong class="px-1">jcl copiers</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          Proudly crafted by <a href="https://www.instagram.com/i_njili/">injili & france</a>
        </div>
      </div>
  
    </footer><!-- End Footer -->
  
    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Preloader -->
    <div id="preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glightbox@3.0.6/dist/js/glightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="https://unpkg.com/php-email-form@3.2.1/validate.js"></script>
    <!--script>
      // purecounter initialization
      new PureCounter(".purecounter", {
        start: 0,
        end: 100,
        duration: 2,
      });
    </script>
    <script type="text/javascript">
        var nav = document.querySelector('nav');
  
        window.addEventListener('scroll', function () {
          if (window.pageYOffset > 300) {
            nav.style.transition = 'background-color 0.5s ease-in-out';
            nav.style.backgroundColor = 'rgb(4,60,76)';
            nav.classList.add('shadow');
          } else {
            nav.style.transition = 'background-color 0.5s ease-in-out';
            nav.style.backgroundColor = '';
            nav.classList.remove('shadow');
          }
        });
    </script-->

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
</body>
</html>